<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ToolMovingFiles.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
    <userSettings>
        <ToolMovingFiles.Properties.Settings>
            <setting name="pathSou1" serializeAs="String">
                <value />
            </setting>
            <setting name="pathDes1" serializeAs="String">
                <value />
            </setting>
            <setting name="pathSou2" serializeAs="String">
                <value />
            </setting>
            <setting name="pathDes2" serializeAs="String">
                <value />
            </setting>
            <setting name="pathSou3" serializeAs="String">
                <value />
            </setting>
            <setting name="pathDes3" serializeAs="String">
                <value />
            </setting>
            <setting name="isCopyPath1" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="isCopyPath2" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="isCopyPath3" serializeAs="String">
                <value>False</value>
            </setting>
        </ToolMovingFiles.Properties.Settings>
    </userSettings>
</configuration>